# chezmoi.toml.tmpl - Correct promptStringOnce syntax
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work := promptBoolOnce . "work" "Is this a work computer" -}}
{{- $personal := promptBoolOnce . "personal" "Is this a personal computer" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    work = {{ $work }}
    personal = {{ $personal }}

[edit]
    command = "nvim"
[git]
    autoCommit = true
    autoPush = true
