# chezmoi.toml.tmpl - Fixed configuration
{{- $name := promptString "Full name" -}}
{{- $email := promptString "Email address" -}}
{{- $work := promptBool "Is this a work computer" -}}
{{- $personal := promptBool "Is this a personal computer" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    work = {{ $work }}
    personal = {{ $personal }}

[edit]
    command = "nvim"
[git]
    autoCommit = true
    autoPush = true

