#!/bin/bash
# run_once_install_global_tools.sh.tmpl

set -e

echo "🔧 Setting up global development tools..."

# Execute the playbook
ansible-playbook developer-tools.yml -i localhost, --connection=local
