#!/bin/bash
# run_once_install_global_tools.sh.tmpl
# developer-tools.yml hash: {{ include "developer-tools.yml" | sha256sum}}

set -e

echo "🔧 Setting up global development tools..."

# Execute the playbook
ansible-playbook developer-tools.yml -i localhost, --connection=local
